%h1 Words
%table.table
    %thead
        %tr.table-active
            %th
                ID
            %th
                CONTENT
            %th
                LANGUAGE
            %th
                USER
            %th 
                ACTION
            %th
                DELETE
        %tbody
            - @words.each do |word|
                %tr.table-success
                    %td
                        = word.id
                    %td
                        = word.content
                    %td
                        = word.language&.name
                        -# - if word.language
                        -#     = word.language.name
                    %td
                        = word.user&.email
                    %td
                        = link_to("Show", word_path(word), class: 'btn btn-primary')
                        = link_to("Edit", edit_word_path(word), class: 'btn btn-primary')
                        -# = link_to("Delete", word_path(word),  
                        -#     "turbo-method": :delete, 
                        -#     class: 'btn btn-primary')
                    %td
                        = button_to("Delete", word_path(word), method: :delete, class: 'btn btn-primary')

= paginate @words, theme: 'twitter-bootstrap-4'
